* {
    margin: 0px;
    padding: 0px;
    }

body{
    text-align: center;
    font-family: 'Montserrat', serif;
    margin:0;
    width: 100vw;
    
 
   
}
h1{
    margin-top: 0;
    font-family: 'Sacramento',cursive;
    color: #66BFBF;
    font-size: 60px;
    line-height: 2;
    
}
h2{
    font-family: 'Montserrat', serif;
    color: #66BFBF;

}
h3{
    font-family: 'Montserrat', serif;
    color: #11999E;
}
p{
    margin-top: 10px;
}

 
 

.top-container{
    background-color: #E4F9F5;
    height: 68vh;
    width:100vw;
    position: relative;
    padding-top: 100px;
    
    
    

  
  
    
}
.cloud{
   width: 200px;
}
.mountain{
    height: 450px;
    position: absolute;
    bottom: 0px;
    left: 350px;
}
    



.cloud1{
    position: absolute;
    right: 300px;
    top: 50px;

}
.cloud2{
    position:absolute;
    left: 300px;
    bottom: 300px;
}
.dp{
    
    margin:0px auto;
    width: 200px;
    position: relative;
    bottom:60px;

}
table{
    margin-left: auto;
    margin-right: auto;
}
.hello{
    position: relative;
    top: 230px;
}
.work{
    margin-top: 20px;
    margin-bottom: 20px;
}
.contact{
    margin-top: 40px;
    margin-bottom: 40px;
}
.contactpic{
    width: 200px;
  
}
.hobbies{
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 2;
    
}
.hobbiespic{
    width: 200px;
  
}
.skills{
    margin-top: 20px;
    margin-bottom: 20px;
}
.skillpic{
    width: 200px;
}
.education{
    margin-top: 20px;
    margin-bottom: 20px;
}
.edupic{
    width: 200px;
   
}
hr{
    border: dotted #626868 6px;
    border-bottom: none;
    width: 4%;
    background-color: white;
    margin:60px auto;

}
.btn {
    background: #66BfBf;
    background-image: -webkit-linear-gradient(top, #66BfBf, #11999E);
    background-image: -moz-linear-gradient(top, #66BfBf, #11999E);
    background-image: -ms-linear-gradient(top, #66BfBf, #11999E);
    background-image: -o-linear-gradient(top, #66BfBf, #11999E);
    background-image: linear-gradient(to bottom, #66BfBf, #11999E);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 10px;
    text-shadow: 1px 1px 3px #807280;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #000000;
    background-image: -webkit-linear-gradient(top, #000000, #ffffff);
    background-image: -moz-linear-gradient(top, #000000, #ffffff);
    background-image: -ms-linear-gradient(top, #000000, #ffffff);
    background-image: -o-linear-gradient(top, #000000, #ffffff);
    background-image: linear-gradient(to bottom, #000000, #ffffff);
    text-decoration: none;
  }


